body{
    background-color:#e8eaf6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display:flex;
    justify-content: center;
    padding: 50px;
}
.container{
    background-color: #f8f9fa;
    width:360px;
    border-radius: 40px;
    padding:25px;
    box-shadow: 0 20p 40px rgba(0,0,0,0.1);
}
header{
    display:flex;
    justify-content:space-between;
    align-items: center;
    margin-bottom:20px;
    color:#444;
}
.search-input{
    width:100%;
    padding:12px;
    border-radius: 12px;
    border:none;
    background: eceef1;
    margin-bottom: 15px;
    box-sizing: border-box;
}
.add-task-container{
    display:flex;
    background:white;
    padding:10px 15px;
    border-radius: 15px;
    margin-bottom: 30px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    flex-direction: column;
    gap:10px;
}
.add-task-container input, .add-task-container select{
    padding: 8px;
    border: 1px solid #eee;
    border-radius: 8px;
}
.add-btn{
    background:#ffb74d;
    border:none;
    color:#fff;
    width:30px;
    height:30px;
    border-radius: 50%;
    font-size:20px;
    cursor:pointer;
}
.section-label{
    font-size: 12px;
    font-weight:bold;
    color:#888;
    margin-bottom:10px;
}
.task-card{
    background-color: #fff;
    padding:15px;
    border-radius: 15px;
    display:flex;
    align-items: center;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.03);
}
.check-circle{
    width:22px;
    height:22px;
    border: 2px solid #ddd;
    border-radius: 50%;
    margin-right: 15px;
}
.task-title{
    font-size: 15px;
    color: #333;
}
.due-date{
    font-size: 11px;
    color:#aaa;
}
footer{
    text-align: center;
    font-size: 12px;
    color:#bbb;;
}